<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Which provider? -->
    <add key="provider" value="System.Data.SqlClient" />
    <!-- Which connection string? -->
    <add key="DatabaseProviderName" value="MSSQL2008" />
    <add key="UserInterfaseType" value="WinFormsDevXpress" />
    <add key="Version1C" value="8.1" />
    <add key="OneCConnectionString" value="File=&quot;W:\Work\Temp Dreamering\1c Bases\UTK Research&quot;; Usr=&quot;Admin&quot;;" />
    <add key="1CServerIP" value="127.0.0.1" />
    <add key="_1CServerIP" value="10.9.1.3" />
    <add key="ServerPort" value="8609" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Languages" value="" />
    <add key="fileToReplace" value="[AppData]\Aramis .NET\Starter\Update\AramisSolution.exe" />
    <add key="fileByWhichReplace" value="AramisSolution.exe" />
  </appSettings>
  <connectionStrings>
    <add name="denis" connectionString="" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>